<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue.js Intro</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="calculator.js" defer></script>
  </head>
  <body>
    <div id="app">
      {{ message }}
      <div>
        1st number:
        <input type="text" v-model="number1" />
      </div>
      <div>
        2nd number:
        <input type="text" v-model="number2" />
      </div>
      <div>
        3rd number:
        <input type="text" v-model="number3" />
      </div>
      <div><button v-on:click="sumNumbers()">Compute sum</button></div>
      <p>The sum is: {{ sum }}</p>

      <div><button v-on:click="productNumbers()">Compute product</button></div>
      <p>The product is: {{ product }}</p>

      <div><button v-on:click="timesTimesDivide()">compute **/</button></div>
      <p>The first two numbers, divided by the third is: {{ newnum }}</p>

      <div><button v-on:click="showInfo = !showInfo">Toggle</button></div>
      <p v-if="showInfo">HELLOO</p>
      <br />

      <div><input type="checkbox" v-on:click="showMoreInfo = !showMoreInfo" /></div>
      <p v-if="showMoreInfo">Hellooo again!</p>
    </div>
  </body>
</html>
